<div class="product-pricing">
  {% if product.sale_price %}
  <span class="sale-price">${{ product.sale_price }}</span>
  <span class="regular-price">${{ product.regular_price }}</span>
  <span class="savings">Save ${{ (product.regular_price - product.sale_price)|round(2) }}</span>
  {% else %}
  <span class="price">${{ product.regular_price }}</span>
  {% endif %}
</div>